@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --foreground: #202020;

  --background-selected: #c0c0c0;

  --background-inverted: #404040;
  --foreground-inverted: var(--background);
}

body {
  @apply text-xl;
}
